<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - LHR.MVC</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/template/global/css/bootstrap.css"  >
            <link rel="stylesheet" href="~/template/global/css/bootstrap-extend.min.css">
            <link rel="stylesheet" href="~/template/base/assets/css/site.css" />
            <link rel="stylesheet" href="~/css/kendo/2016.2.504/kendo.common.min.css" />
            <link rel="stylesheet" href="~/css/kendo/2016.2.504/kendo.default.min.css" />
            <link rel="stylesheet" href="~/css/kendo/2016.2.504/kendo.default.mobile.min.css" />
            <!-- Fonts -->
            <link rel="stylesheet" href="~/template/global/fonts/weather-icons/weather-icons.css">
            <link rel="stylesheet" href="~/template/global/fonts/web-icons/web-icons.min.css">
            <link rel="stylesheet" href="~/template/global/fonts/brand-icons/brand-icons.min.css">
            <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
            <!-- Plugins -->
            <link rel="stylesheet" href="~/template/global/vendor/animsition/animsition.css">
            <link rel="stylesheet" href="~/template/global/vendor/asscrollable/asScrollable.css">
            <link rel="stylesheet" href="~/template/global/vendor/switchery/switchery.css">
            <link rel="stylesheet" href="~/template/global/vendor/intro-js/introjs.css">
            <link rel="stylesheet" href="~/template/global/vendor/slidepanel/slidePanel.css">
            <link rel="stylesheet" href="~/template/global/vendor/flag-icon-css/flag-icon.css">
            <link rel="stylesheet" href="~/template/global/vendor/chartist-js/chartist.css">
            <link rel="stylesheet" href="~/template/global/vendor/jvectormap/jquery-jvectormap.css">
            <link rel="stylesheet" href="~/template/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
            <link rel="stylesheet" href="~/template/base/assets/examples/css/dashboard/v1.css">
            <link rel="stylesheet" href="~/css/lhr.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/kendo/2016.2.504/kendo.common.min.css" />
            <link rel="stylesheet" href="~/css/kendo/2016.2.504/kendo.default.min.css" />
            <link rel="stylesheet" href="~/css/kendo/2016.2.504/kendo.default.mobile.min.css" />
            <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
        </environment>
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/kendo/2016.2.504/kendo.all.min.js"></script>

            <script src="~/template/global/vendor/modernizr/modernizr.js"></script>
            <script src="~/template/global/vendor/breakpoints/breakpoints.js"></script>
            <script>
                Breakpoints();
            </script>
           

        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script src="~/js/kendo/2016.2.504/kendo.all.min.js"></script>

        </environment>

        @RenderSection("scripts", required: false)

    </head>
    <body class="dashboard">
        @await Component.InvokeAsync("TopBarComponent")
            @await Component.InvokeAsync("MenuComponent")


        <div class="page animsition">
            <div class="page-content padding-30 container-fluid">
                @RenderBody()
                </div>
                <footer>
                    <p>&copy; 2016 - LHR.MVC</p>
                </footer>
            </div>

        <environment names="Development">

            <script src="~/template/global/vendor/animsition/animsition.js"></script>
            <script src="~/template/global/vendor/asscroll/jquery-asScroll.js"></script>
            <script src="~/template/global/vendor/mousewheel/jquery.mousewheel.js"></script>
            <script src="~/template/global/vendor/asscrollable/jquery.asScrollable.all.js"></script>
            <script src="~/template/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
            <!-- Plugins -->
            <script src="~/template/global/vendor/switchery/switchery.min.js"></script>
            <script src="~/template/global/vendor/intro-js/intro.js"></script>
            <script src="~/template/global/vendor/screenfull/screenfull.js"></script>
            <script src="~/template/global/vendor/slidepanel/jquery-slidePanel.js"></script>
            <script src="~/template/global/vendor/skycons/skycons.js"></script>
            <script src="~/template/global/vendor/chartist-js/chartist.min.js"></script>
            <script src="~/template/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js"></script>
            <script src="~/template/global/vendor/aspieprogress/jquery-asPieProgress.min.js"></script>
            <script src="~/template/global/vendor/jvectormap/jquery.jvectormap.min.js"></script>
            <script src="~/template/global/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js"></script>
            <script src="~/template/global/vendor/matchheight/jquery.matchHeight-min.js"></script>
            <!-- Scripts -->
            <script src="~/template/global/js/core.js"></script>
            <script src="~/template/base/assets/js/site.js"></script>
            <script src="~/template/base/assets/js/sections/menu.js"></script>
            <script src="~/template/base/assets/js/sections/menubar.js"></script>
            <script src="~/template/base/assets/js/sections/gridmenu.js"></script>
            <script src="~/template/base/assets/js/sections/sidebar.js"></script>
            <script src="~/template/global/js/configs/config-colors.js"></script>
            <script src="~/template/assets/js/configs/config-tour.js"></script>
            <script src="~/template/global/js/components/asscrollable.js"></script>
            <script src="~/template/global/js/components/animsition.js"></script>
            <script src="~/template/global/js/components/slidepanel.js"></script>
            <script src="~/template/global/js/components/switchery.js"></script>
            <script src="~/template/global/js/components/matchheight.js"></script>
            <script src="~/template/global/js/components/jvectormap.js"></script>
            <script src="~/template/base/assets/examples/js/dashboard/v1.js"></script>
            </environment>
            <script>
                $(document).ready(function ($) {
                    Site.run();
                })
            </script>
</body>
</html>
