@using Lhr.Mvc.Services.Session;
@inject ISessionService SessionManager
<h1 class="text-danger">System Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<div class="text-danger">@Html.Raw(SessionManager.GetData().ErrorMessage)</div>
